

html{
  background: url("http://www.galaxyzoo.org/images/gz_headerimage.jpg") fixed center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body{
  font-family: "Helvetica", sans-serif;
  color: white;
  font-size: 16px;
  margin:0px;
  line-height:1.5em;
}

.hide {
  display: none;
}

div.content {
  margin: 0 auto;
  padding-top: 5%;
  width: 900px;
}

div.intro p {
  margin-bottom: 10px;
}

section#comparison{
  padding-bottom: 100px;
}

section#comparison div.image{
  float:left;
  position:relative;
}

section#comparison div.image:first-child{
  margin-right:100px;
}

section#comparison div.image:hover{
  cursor: pointer;
}

.hoverimage { 
  position: absolute;
  top: 0;
  left: 0; 
  display: none;
  margin-top: 56px;
  margin-left: 119px;
  z-index: 100;
}

.image:hover .hoverimage { 
  display: block;
}

section#comparison div.image img.subject{
  width: 350px;
  border: white 6px solid;
  z-index: 0;
}


