

html{
  background: url("http://www.galaxyzoo.org/images/gz_headerimage.jpg") fixed center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

body{
  font-family: "Helvetica", sans-serif;
  color: white;
  font-size: 16px;
  margin:0px;
  line-height:1.5em;
}

.hide {
  display: none;
}

div.content {
  margin: 0 auto;
  padding-top: 5%;
  width: 900px;
}

div.intro p {
  margin-bottom: 10px;
}

section#comparison{
  padding-bottom: 10px;
  width: 100%;
}

section#comparison div.image{
  display: inline-block;
  position:relative;
}

section#comparison div.image:first-child{
  display: inline-block;
  margin-right:100px;
}

section#comparison div.image:hover{
  cursor: pointer;
}

section#comparison div.image img.subject{
  width: 350px;
  border: white 6px solid;
  z-index: 0;
}

div.footer {
  position: relative;
  bottom: 0;
  left: 0;
}
